.user {
    width: 200px;
    margin-top: 20px;
    border: 1px solid grey;
    padding-bottom: 5px;
}

.user-image > img {
    width: 100%;
}

.user-name span, .user-position span {
    color: black;
}

@media(max-width: 490px) {
    .user {
        width: 100%;
    } 
}